trunk/GCFLauncher/Service References/LauncherServiceNS/LauncherService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LauncherService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://xiah.inbaru.com:8080/LauncherService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://xiah.inbaru.com:8080/LauncherService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://xiah.inbaru.com:8080/LauncherService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LoginService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILauncherService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="ILauncherService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="ILauncherService_TryLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:TryLogin" />
  </wsdl:message>
  <wsdl:message name="ILauncherService_TryLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:TryLoginResponse" />
  </wsdl:message>
  <wsdl:message name="ILauncherService_IsServerOn_InputMessage">
    <wsdl:part name="parameters" element="tns:IsServerOn" />
  </wsdl:message>
  <wsdl:message name="ILauncherService_IsServerOn_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsServerOnResponse" />
  </wsdl:message>
  <wsdl:message name="ILauncherService_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="ILauncherService_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="ILauncherService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/ILauncherService/GetData" message="tns:ILauncherService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILauncherService/GetDataResponse" message="tns:ILauncherService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TryLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/ILauncherService/TryLogin" message="tns:ILauncherService_TryLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILauncherService/TryLoginResponse" message="tns:ILauncherService_TryLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsServerOn">
      <wsdl:input wsaw:Action="http://tempuri.org/ILauncherService/IsServerOn" message="tns:ILauncherService_IsServerOn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILauncherService/IsServerOnResponse" message="tns:ILauncherService_IsServerOn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/ILauncherService/GetDataUsingDataContract" message="tns:ILauncherService_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILauncherService/GetDataUsingDataContractResponse" message="tns:ILauncherService_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILauncherService" type="tns:ILauncherService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/ILauncherService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TryLogin">
      <soap:operation soapAction="http://tempuri.org/ILauncherService/TryLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsServerOn">
      <soap:operation soapAction="http://tempuri.org/ILauncherService/IsServerOn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/ILauncherService/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LauncherService">
    <wsdl:port name="BasicHttpBinding_ILauncherService" binding="tns:BasicHttpBinding_ILauncherService">
      <soap:address location="http://xiah.inbaru.com:8080/LauncherService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>